@font-face {
  font-family: 'iconfont'; /* Project id 5056674 */
  src:
    url('iconfont.woff2?t=1762235532305') format('woff2'),
    url('iconfont.woff?t=1762235532305') format('woff'),
    url('iconfont.ttf?t=1762235532305') format('truetype');
}

.iconfont {
  font-family: 'iconfont';
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star:before {
  content: '\e60e';
}

.icon-trophy:before {
  content: '\e623';
}

.icon-user-circle:before {
  content: '\f130';
}

.icon-check-circle-fill:before {
  content: '\e7e2';
}

.icon-calendar-alt-solid:before {
  content: '\e624';
}

.icon-user-friends:before {
  content: '\e685';
}

.icon-map-marker-alt:before {
  content: '\e9f6';
}

.icon-calendar-check:before {
  content: '\e8a5';
}

.icon-moon:before {
  content: '\e7de';
}

.icon-arrowright:before {
  content: '\e672';
}

.icon-infocircle:before {
  content: '\e64d';
}

.icon-weixin:before {
  content: '\e62f';
}

.icon-sousuo2:before {
  content: '\e630';
}

.icon-user-shield:before {
  content: '\f13d';
}

.icon-phone-alt-solid:before {
  content: '\e7e7';
}

.icon-chevron-down:before {
  content: '\e61d';
}

.icon-plane:before {
  content: '\e676';
}

.icon-plane-departure:before {
  content: '\eb79';
}

.icon-umbrella-beach:before {
  content: '\eb4a';
}

.icon-sousuo:before {
  content: '\e63b';
}

.icon-sousuo1:before {
  content: '\e603';
}
